<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Add Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid text-center align-middle">
    <h2 th:text="'Penerbangan ' + ${penerbangan.nomorPenerbangan}"></h2>
    <h2 th:text="'berhasil ditambahkan'"></h2>
    <br>
    <td><a th:href="@{/penerbangan}">kembali ke Daftar Penerbangan</a></td>
</div>
</body>
</html>