<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Data Pesawat</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div>
    <br><br>
    <h1 class="text-center align-middle">Form Ubah Pesawat</h1>
    <form th:action="@{/pesawat/ubah}" th:object="${pesawat}" method="POST" style="width: 50%; margin: auto;">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label>Maskapai</label>
            <input  th:field="*{maskapai}" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Tanggal Dibuat</label>
            <input  th:value="${date}" th:field="*{tanggalDibuat}" type="date" class="form-control">
        </div>
        <div class="form-group">
            <label>Tempat Dibuat</label>
            <input  th:field="*{tempatDibuat}" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Jenis</label>
            <select th:field="*{jenisPesawat}" type="text" class="form-control">
                <option value="Komersial">Komersial</option>
                <option value="Militer">Militer</option>
            </select>
        </div>
        <div class="button-action">
            <a href="/penerbangan" class="btn btn-outline-secondary m-3" style="margin-left: 0;">Batal</a>
            <button type="submit" class="btn btn-primary m-3" style="margin-right:0; margin-left:0;">Simpan</button>
        </div>
    </form>
</div>
</body>
</html>
