<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View Pesawat</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="text-center align-middle">
<section>
    <br>
    <h2>Detail Pesawat</h2>
    <br>
    <p th:text="'Nomor Seri Pesawat          '+ ${pesawat.nomorSeri}"></p>
    <p th:text="'Jenis Pesawat          '+ ${pesawat.jenisPesawat}"></p>
    <p th:text="'Nama Tipe Pesawat          '+ ${pesawat.tipe.nama}"></p>
    <p th:text="'Maskapai          '+ ${pesawat.maskapai}"></p>
    <p th:text="'Tempat dibuat          '+ ${pesawat.tempatDibuat}"></p>
    <p th:text="'Tanggal dibuat          '+ ${pesawat.tanggalDibuat}"></p>
</section>

<section>
    <h2>Daftar Teknisi Pesawat</h2>
    <div th:if="${teknisi>0}">
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Nomor Telepon</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teknisi, iterationStatus : ${pesawat.listPesawatTeknisi}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${teknisi.nama}"></td>
                <td th:text="${teknisi.nomorTelepon}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${teknisi < 0}">
        <p th:text = "'Data teknisi belum dimasukkan'"></p>
    </div>
</section>
</div>
</body>
</html>