<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View All Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<h2>Daftar Penerbangan</h2>
<br>
<a th:href="@{/penerbangan/tambah}" class="btn btn-primary"> + Tambah Penerbangan </a>
<br><br>
<div class="text-center align-middle">
    <div th:if="${listPenerbangan.size() > 0}">
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>Kode Penerbangan</th>
                <th>Bandara Asal</th>
                <th>Bandara Tujuan</th>
                <th>Waktu Berangkat</th>
                <th>Aksi</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="penerbangan, iterationStatus : ${listPenerbangan}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${penerbangan.nomorPenerbangan}"></td>
                <td th:text="${penerbangan.kodeBandaraAsal}"></td>
                <td th:text="${penerbangan.kodeBandaraTujuan}"></td>
                <td th:text="${penerbangan.waktuBerangkat}"></td>
                <td>
                    <a class="btn btn-info" th:href="@{/penerbangan/}+${penerbangan.id}">Lihat</a>
                    <a class="btn btn-warning" th:href="@{/penerbangan/ubah/}+${penerbangan.id}">Ubah</a>
                    <a class="btn btn-danger" th:href="@{/penerbangan/hapus/}+${penerbangan.id}">Hapus</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${listPenerbangan.size() == 0}">
        <h2 th:text="'Tidak ada daftar penerbangan'"></h2>
    </div>
</div>
</body>
</html>